
h1 {
color: white;
background-color: black;
size: 33pt;
margin-right: 70%;
padding: 12px;
}

h2 {
    color: black;
    size: 18pt;
}

a {
    background-color: grey;
    color: white;
    padding: 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.Homepage {
    background-color: greenyellow;
}

.Contact {
    background-color: cyan;
}

.About-Me {
    background-color: lightcoral;
}

.Navigator {
    padding-left: 10px;
}

.Navigator:nth-child() {
    padding-left: 10px;
    padding-right: 10px;
}

.Viewer-Input {
    border: 2px solid black;
    padding: 9px;
    margin-right: 60%;
}

table {
    border-collapse: collapse;
    width: 40%;
}

th, td {
    padding: 6px;
    text-align: left;
    border-bottom: 1px solid black;
}

tr:nth-child(odd) {
    background-color: white
}

tr:nth-child(even) {
    background-color: lightgray
}

tr:hover {
    background-color: lightyellow;
}

.Skillset {
    border: 2px solid black;
    margin-right: 60%;
}

#basic-image {
    border: 2px double black;
    height: 200px;
}

#big-image {
    border: 4px dashed black;
    height: 500px;
}

#float-image {
    float:right;
    border: 2px double black;
    width: 400px;
}